<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ultimo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<header>
    <nav class="navbar navbar-expand-sm bg-success navbar-dark">
        <div class="container-fluid">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="/">HOME</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="playlist">PLAYLIST</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="catalogo">CATÁLOGO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="ultimo">LO ÚLTIMO</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="descargas">DESCARGA</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<div class="container-fluid p-5 bg-primary text-white text-center">
    <h1>LO NUEVO EN LA MÚSICA</h1>
    <p>Enterate de las nuevas noticias de la música en la actualidad</p>
    <img src="">
</div>

<div class="container mt-5">
    <div class="row">
        <div class="col-sm-4">
            <h3>¿Quiénes son los nominados de los Premios Billboard de la Música Latina 2023?</h3>
            <p>Luego de esto, figura el reguetonero Bad Bunny con 15. El ‘Conejo Malo’ compite por premios importantes como Artista del Año y Gira del Año, que demuestran cómo en los últimos años se ha vuelto uno de los cantantes más influyentes.</p>
        </div>
        <div class="col-sm-4">
            <h3>La nueva canción de Drake en colaboración con Bad Bunny: ¿cuándo sale?</h3>
            <p>Drake este 2023 se está poniendo las pilas, lleva cinco canciones entre sus propios sencillos y colaboraciones. Está que no para, y esto en CADENA 100 nos encanta. </p>
        </div>
        <div class="col-sm-4">
            <h3>Así Bad Bunny celebró en un “brunch” al ser parte del Billions Club de Spotify</h3>
            <p>El exponente urbano de fama mundial Bad Bunny está de celebración al sumarse otro de sus temas musicales al Billions Club de la plataforma para escuchar música vía streaming Spotify, al ingresar a la lista de reproducción con las canciones que han superado la marca de mil millones de reproducciones.</p>
        </div>
    </div>
</div>
</body>
</html>